.marquee-line {
  margin-top: -3px;
  animation: scroll 15s linear infinite;
  overflow-x: hidden;
  padding: 19px 0;
  background: rgba(245, 73, 50, 1);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.2px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  background: rgba(245, 73, 50, 1);
  /* gap: 20px; */
}
.chesText {
  display: block;
}
.newText {
  display: none;
}

.items {
  flex-shrink: 0;
  display: flex;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  background: rgba(245, 73, 50, 1);
}
.item {
  /* content: "Шахматы двигают вперёд не только культуру, но и экономику!"; */
  /* flex: 0 0 auto;
  counter-increment: item; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #fff;
  margin: 0;
  transition: all 0.1s ease-in-out;
}

.item-dot {
  margin: 0 12px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 500px) {
  .marquee-line {
    margin-top: 0px;
    padding: 10px 0;
    font-size: 16px;
    line-height: 17.6px;
  }
  .item {
    content: "Дело помощи утопающим — дело рук самих утопающих!";
  }
  .chesText {
    display: none;
  }
  .newText {
    display: block;
  }
}
