.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: static;
  margin: 0 auto 110px;
  padding: 0;
  width: 100%;
  gap: 20px;
  /* display: none; */
}

.mobail {
  display: none;
}

.title__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slideshow-container__arrows {
  /* margin: 18px auto 0; */
  /* margin-left: 70px; */
  padding: 0;
  width: 151px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 1px; */
}

.slideshow-container__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container__next,
.slideshow-container__prev {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(49, 49, 49, 1);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  color: white;
  transition: 0.6s ease;
  border: none;
}

.slideshow-container__prev:hover,
.slideshow-container__next:hover,
.black__btn:hover {
  /* opacity: 0.7; */
  background: rgba(251, 206, 81, 1);
  border: 2px solid rgba(251, 206, 81, 1);
}

.slideshow-container__prev:disabled,
.slideshow-container__next:disabled {
  background: rgba(214, 214, 214, 1);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .slideshow-container {
    justify-content: flex-end;
  }
  /* .mobail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin: 0 auto 110px;
    height: 388px;
    padding: 0;
    width: 100%;
    gap: 20px;
  } */

  .slideshow-container__next,
  .slideshow-container__prev {
    width: 36px;
    height: 36px;
  }


  .slideshow-container__arrows {
    max-width: 129px;
    position: absolute;
    bottom: -79px;
    left: 104px;
  }
}
