.stages {
  margin-top: 200px;
  position: relative;
}

.stages__title {
  margin: 0;
  max-width: 806px;
  max-height: 130px;
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
}

.subtitle {
  position: absolute;
  max-width: 280px;
  top: 72px;
  left: 301px;
  margin: 0;
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(48, 87, 162, 1);
}

.cards {
  margin-top: 54px;
 min-width: 100%;
  /* list-style: none; */
  display: grid;
  /* grid-template-columns: repeat(3, minmax(min-content, 394px)); */
  grid-template-rows: 112px 112px 136px;
  grid-template-areas:
    "number__one number__two number__three"
    "number__four number__five number__three"
    "number__six number__seven number__seven";
  gap: 20px;
}

.number__seven {
  grid-column-start: 2;
  grid-column-end: 4;
}

.stages__img {
  position: absolute;
  right: -5.3%;
  bottom: -1%;
  top: auto;
  left: auto;
}

.card {
  padding: 20px;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: url("../../images/bg_content.jfif");
  background-repeat: no-repeat;
  /* background: rgba(217, 217, 217, 1); */
  box-sizing: border-box;
  overflow: hidden;
  gap: 16px;
}

.card-text {
  font-family: "Golos Text";
  max-width: 302px;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(49, 49, 49, 1);
}

.number {
  margin: 0;
  padding: 11px;
  /* padding-bottom: 2px; */
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

.number h3 {
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(49, 49, 49, 1);
}

.number__three {
  grid-row-start: span 2;
}

.newCards,
.arrows__contaner {
  display: none;
}

@media screen and (max-width: 1220px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    grid-template-areas:
    "number__one number__two "
    "number__three number__four"
    "number__three number__five"
    "number__six number__six"
    "number__seven number__seven";
  }
}

@media screen and (max-width: 500px) {
  .stages {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: none;
    align-items: center;
    justify-content: center;
    position: static;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    /* gap: 20px; */
  }

  .card {
    padding: 0;
    background: rgba(217, 217, 217, 1);
  }

  .subtitle {
    position: inherit;
    max-width: 100%;
    width: 100%;
    text-align: start;
    top: 0;
    left: 0;
    margin: 14px 0 148px;
    font-size: 18px;
    line-height: 21.6px;
  }

  .newCards {
    display: flex;
    width: 335px;
    height: 300px;
    min-height: 300px;
  }
  .split {
    gap: 28px;
    padding: 62px 20px 0;
    background: rgba(217, 217, 217, 1);
    height: 100%;
  }

  .card:first-child {
    margin-bottom: 28px;
  }

  .stages__img {
    width: 335px;
    height: 182px;
    right: auto;
    bottom: auto;
    top: 195px;
    left: 10px;
  }

  .stages__img img {
    width: 100%;
    rotate: -4deg;
  }
  .stages__title {
    margin: 0;
    max-width: 375px;
    max-height: 120px;
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
  }
  .arrows__contaner {
    margin: 28px auto 0;
    width: 178px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  .next-card__btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(49, 49, 49, 1);
    border-radius: 50px;
    width: 36px;
    height: 36px;
    color: white;
    transition: 0.6s ease;
    border: none;
  }
  .disabled {
    background: rgba(214, 214, 214, 1);
    cursor: default;
  }

  .indicatorsList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
  }

  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(49, 49, 49, 0.3);
    /* box-shadow: 0 2px 1px rgba(0, 0, 0, 1); */
  }

  .indicator.active {
    background-color: rgba(49, 49, 49, 1);
  }
}
