.footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: rgba(233, 222, 212, 1);
}

.footer__text {
  margin: 0 auto;
  padding: 40px 72px 72px;
  max-width: 1366px;
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: rgba(49, 49, 49, 0.6);
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 40px 20px 60px;
  }
  .footer__text {
    padding: 0;
  }
}
